@import url(reset.css);

body {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
    z-index: 2;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    align-self: center;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    width: 100%;
    padding: 1.3rem 0;
    border: 0.1px solid #262626;
}

.group:nth-child(1) {
    min-height: 19rem;
    margin-bottom: 20px;
}

.instagram-logo {
    height: 8vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3vh;
}

.profile-photo img {
    height: 12vh;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.not-account {
    color: rgb(160, 160, 160);
    margin: 1vh;
}

.link-blue {
    color: #0095f6;
}

/*Change Images*/
.i-phone-print-1 {
    background-image: url('/assets/img/i-phone-print-1.png');
}

.i-phone-print-2 {
    background-image: url('/assets/img/i-phone-print-2.png');
}

.i-phone-print-3 {
    background-image: url('/assets/img/i-phone-print-3.png');
}

#i-phone-print {
    z-index: 1;
}




@media (max-width: 1390px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 1110px) {

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
}