@import url(reset.css);

body {
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.i-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.i-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    align-self: center;
}

.i-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #121212;
    width: 100%;
    padding: 1.3rem 0;
    border: 0.1px solid #262626;
}

.i-group:nth-child(1) {
    min-height: 19rem;
    margin-bottom: 20px;
}

.i-logo {
    height: 8vh;
    margin-bottom: 1vh;
    margin-top: 2vh;
}

.i-profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 3vh;
}

.i-profile-photo img {
    height: 12vh;
}

.i-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 4px;
}

.i-logout {
    color: #0095f6;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.i-not-account {
    color: rgb(160, 160, 160);
    margin: 1vh;
}

.i-link-blue {
    color: #0095f6;
}

.i-phone-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.i-phone {
    background-image: url('/assets/img/i-phone.png');
    position: relative;
    width: 376px; 
    height: 584px; 
}


.i-phone img{
    height: 541px;
    width: 250px;
    right: 18px;
    bottom: 15px;
    position: absolute;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

/*Responsive*/
@media (max-width: 1390px) {
    .i-wrapper {
        width: 90%;
    }
}

@media (max-width: 1110px) {
    .i-wrapper {
        width: 90%;
    }

    .i-phone-wrapper {
        display: none;
    }

    .i-continue {
        width: 100%;
    }
    
    .i-group {
        border: 1px solid transparent;
    }
}